.how-it-works {
  padding: 80px 0px;
  .wrapper {
    max-width: 1750px;
  }
  h2 {
    color: #202122;
    text-align: center;
    font-family: $genralsans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .subtitle {
    color: #202122;
    text-align: center;
    font-family: $genralsans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .slick-arrow {
    background: transparent;
    border: 0px;
    position: absolute;
    top: calc(50% - 54px);
  }
  .pull-left {
    left: 0px;
    z-index: 2;
  }
  .pull-right {
    right: 0px;
    z-index: 2;
  }
}
.slide-box {
  position: relative;

  .number {
    position: absolute;
    top: 0px;
    left: 25px;
    background-color: #058beb;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    color: #f7f7ff;
    font-family: $genralsans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .bottom-message {
    border-radius: 8.182px;
    background: #f4f5fb;
    box-shadow: 0px -179.998px 49.756px 0px rgba(0, 0, 0, 0), 0px -115.609px 46.829px 0px rgba(0, 0, 0, 0.01), 0px -64.39px 39.512px 0px rgba(0, 0, 0, 0.05), 0px -29.268px 29.268px 0px rgba(0, 0, 0, 0.09), 0px -7.317px 16.097px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    position: absolute;
    bottom: 20px;

    transition: all 0.25s ease-in;
    p {
      color: #202122;
      font-family: $genralsans;
      font-size: 102px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 1148px;
      span {
        color: #058beb;
        font-weight: 700;
      }
    }
  }
}

.how-marketing-holder {
  width: 100%;
  .slide-box {
    max-width: 1300px;
    max-height: 840px;
    margin: auto;
    img {
      margin: auto;
    }
  }
  .slick-slider {
    margin-left: -12%;
    margin-right: -12%;
  }

  .slick-list {
    padding-top: 40px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    height: 890px;
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .slick-track {
    max-width: 100% !important;
    transform: translate3d(0, 0, 0) !important;
    perspective: 100px;
  }

  .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100% !important;
    transform: translate3d(0, 0, 0);
    transition: transform 1s, margin 1s, opacity 1s;
  }

  .slick-snext,
  .slick-sprev {
    display: block;
  }

  .slick-current {
    opacity: 1;
    position: relative;
    display: block;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    .slide-box {
      .number {
        width: 90px;
        height: 90px;
        font-size: 60px;
      }
      .bottom-message {
        opacity: 1;
      }
    }
  }

  .slick-snext {
    opacity: 0.4;
    transform: translate3d(47%, 0, -80px);
    z-index: 1;
  }

  .slick-sprev {
    opacity: 0.4;
    transform: translate3d(-47%, 0, -80px);
  }
}

.how-marketing-holder {
  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    li {
      button {
        border-radius: 50%;
        font-size: 0px;
        width: 15px;
        height: 15px;
        background-color: #d9d9d9;
        border: 0px;
      }
    }
    .slick-active {
      button {
        background-color: #727272;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .how-marketing-holder .slide-box {
    max-width: 1000px;
  }
  .slide-box .bottom-message p {
    font-size: 60px;
  }
  .how-marketing-holder .slick-list {
    height: auto;
  }
  .how-marketing-holder .slick-current .slide-box .number {
    width: 75px;
    height: 75px;
    font-size: 40px;
  }
  .slide-box .number {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .how-it-works {
    h2 {
      font-size: 48px;
    }
    .subtitle {
      font-size: 30px;
    }
  }
  .how-marketing-holder {
    .slick-list {
      padding: 40px 40px 00px 40px !important;
      height: unset;
    }
    .slide-box {
      max-width: 476px;
      .bottom-message {
        bottom: 50px;
        p {
          font-size: 14px;
        }
      }
    }
  }
  .slide-box .bottom-message {
    padding: 18px;
  }
  .how-marketing-holder .slick-current .slide-box .number {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .how-marketing-holder .slide-box {
    max-height: unset;
    max-width: fit-content;
  }
  .how-marketing-holder .slick-sprev {
    transform: unset;
    opacity: 0;
  }
  .how-marketing-holder .slick-snext {
    transform: unset;
    opacity: 0;
  }
  .how-marketing-holder .slide-box .bottom-message {
    width: 100%;
    bottom: 55px;
    p {
      font-size: 28px;
      text-align: center;
    }
  }

  .how-marketing-holder .slick-list {
    padding: 20px 20px 0px 20px !important;
  }
  .how-marketing-holder .slick-dots {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
  .how-it-works {
    padding: 40px 0px;
    h2 {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 8px;
    }
    .subtitle {
      font-size: 24px;
    }
  }
  .slide-box .number {
    left: 10px;
  }
  .slide-box {
    img {
      max-width: 297px;
      width: 100%;
    }
  }
  .how-it-works .pull-left {
    left: -15px;
  }
  .how-it-works .pull-right {
    right: -15px;
  }
}
@media screen and (max-width: 375px) {
  .how-it-works h2 {
    font-size: 31px;
  }
  .how-it-works .subtitle {
    font-size: 22px;
  }
}
@media screen and (max-width: 350px) {
  .how-marketing-holder .slide-box .bottom-message p {
    font-size: 24px;
  }
}
